#modal-background {
  z-index: 4;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

#modal-content {
  position: relative;
  background-color: var(--root-highlight-color);
  --modal-padding: 2rem;
  --modal-width: 80vw;
  --modal-height: 80vh;
  --modal-interior-width: calc(var(--modal-width) - (2 * var(--modal-padding)));
  --modal-interior-height: calc(var(--modal-height) - (2 * var(--modal-padding)));
  overflow: hidden;
  border-radius: 0.425rem;
  height: var(--modal-height);
  width: var(--modal-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-floater {
  background-color: black;
  color: var(--root-highlight-color);
  font-size: 0.75rem;
  position: absolute;
  z-index: 1;
}

.top-left {
  top: 0.425rem;
  left: 0.425rem;
}

.top-right {
  top: 0.425rem;
  right: 0.425rem;
}

.bottom-left {
  bottom: 0.425rem;
  left: 0.425rem;
}

.bottom-right {
  bottom: 0.425rem;
  right: 0.425rem;
}
